<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyintegral">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyIntegral">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lernpfad1"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernfad2"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad3"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad4"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad5"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad6"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad7"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad8"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad9"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad10"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad11"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad12"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad13"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Lernpfad14"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>